Package: ???
Version: ???
Architecture: ???
Maintainer: Adak Teknoloji <info@adak.com.tr>
Installed-Size: 255000
Section: office
Priority: optional
Homepage: http://www.adak.com.tr/
Description: E9 - [ CRM + e-ticaret ]
  Oldukca kapsamli , entegre , on-line bir ticari paket

